<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>logout page</title>
</head>
<body>
<h1>Your have already logged out please login again</h1>
<a href="/">login now</a>


</body>
</html>