<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tang Court</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
   
<!--  Free CSS Template by TemplateMo.com  --> 
<div id="templatemo_container">
	<div id="templatemo_header">
    	<div id="site_title"></div>
    </div>
    
    <div id="templatemo_menu">
       <ul>
        <li ><strong><a href="/">Home</a></strong></li>
            <li ><strong><a href="contact">contact us</a></strong></li>
            <li ><strong><a href="login">login/sign up</a></strong></li>
            <li ><strong><a href="logout">logout</a></strong></li>
            <li ><strong><a href="dashboard">dashboard</a></strong></li>
            <li ><h2>{{mark}}</h2></li>
        </ul>
       
        <form  method="POST" action="search">
              <input name="factor" type="text" placeholder="search by integrdients!"><input type="submit" value="search" />
            </form>
           
    </div> 
    
    
    <div id="templatemo_top_dishes">

      <h1>Introduction</h1>
      
       <div class="top_dishes_box">
       	  <img src="../public/images/yue.jpg" alt="image" />
          <h2>Yue(Cantonese cuisine)</h2>
            <p>Cantonese cuisine is focused on Dim sum, a Cantonese term for small hearty dishes. These bite-sized portions are prepared using traditional cooking methods such as frying, steaming, stewing and baking. It is designed so that one person may taste a variety of different dishes.<a href="intro?id=yue" id="yue">Read more...</a></p>
      </div>
        
        <div class="top_dishes_box">
       	  <img src="../public/images/chuan.jpg" alt="image" />
            <h2>Chuan(Sichuan cuisine)</h2>
          <p>Sichuan cuisine is a style of Chinese cuisine originating from the Sichuan Province of southwestern China, famed for bold flavors, particularly the pungency and spiciness resulting from liberal use of garlic and chili peppers, as well as the unique flavor of the Sichuan peppercorn  and Facing heaven pepper . Peanuts, sesame paste and ginger are also prominent ingredients in this style. <a href="intro?id=chuan">Read more...</a></p>
        </div>
        
        <div class="top_dishes_box">
       	  <img src="../public/images/hui.jpg" alt="image" />
            <h2>Hui(Anhui cuisine)</h2>
          <p>Anhui cuisine  is derived from the native cooking styles of the Huangshan Mountains region in China and is similar to Jiangsu cuisine, but with less emphasis on seafood and more on a wide variety of local herbs and vegetables. Anhui province is particularly endowed with fresh bamboo and mushroom crops.<a href="intro?id=hui">Read more...</a></p>
      </div>
        
        <div class="top_dishes_box">
       	  <img src="../public/images/lu.jpg" alt="image" />
            <h2>Lu(Shandong cuisine)</h2>
          <p>Shandong Cuisine is commonly known as Lu cuisine. Shandong Cuisine made one of the most important parts of imperial cuisine with wide distribution across North China. Lu cuisine dishes are noted to having fresh, salty, crisp and tender features. Lu cuisine chefs are experienced to care for the seasoning of clear broth and creamy soup. It was recorded to be highly favored by the imperial family in the Ming and Qing dynasty. Shandong Cuisine features a variety of cooking techniques and seafood ingredients. The typical dishes on local menu are braised abalone, braised trepang, sweet and sour carp, Jiuzhuan Dachang and Dezhou Chicken.<a href="intro?id=lu">Read more...</a></p>
        </div>
        <div class="top_dishes_box">
            <img src="../public/images/min.jpg" alt="image" />
           <h2>Min(Fujian cuisine)</h2>
         <p>Fujian cuisine is influenced by Fujian's coastal position and mountainous terrain. Woodland delicacies such as edible mushrooms and bamboo shoots are also utilized. Slicing techniques are valued in the cuisine and utilized to enhance the flavor, aroma and texture of seafood and other foods. Fujian cuisine is often served in a broth or soup, with cooking techniques including braising, stewing, steaming and boiling. <a href="intro?id=min">Read more...</a></p>
       </div>
       <div class="top_dishes_box">
        <img src="../public/images/su.jpg" alt="image" />
       <h2>Su(Jiangsu cuisine)</h2>
     <p>Jiangsu cuisine  is one of the major components of Chinese cuisine, which consists of the styles of Yangzhou, Nanjing, Suzhou and Zhenjiang dishes. It is very famous all over the world for its distinctive style and taste. It is especially popular in the lower reach of the Yangtze River. <a href="intro?id=su">Read more...</a></p>
   </div>
   <div class="top_dishes_box">
    <img src="../public/images/xiang.jpg" alt="image" />
   <h2>Xiang(Hunan cuisine)</h2>
 <p>Hunan cuisine is well known for its hot spicy flavor, fresh aroma and deep color. Common cooking techniques include stewing,stir-frying, pot-roasting, braising, and smoking. Due to the high agricultural output of the region, there are many varied ingredients for Hunan dishes. Hunan cuisine is called Xiāngcài in China, because the abbreviation of Hunan Province is Xiāng. Some typical dishes of Hunan Cuisine are steaming smoked meat, stew fish, rice noodle soup. Besides spicy, Hunan cuisine, especially western Hunan, also emphasizes on sourness. Therefore, different kinds of pickles are popular in Hunan, for example, Douchi is a type of fermented and salted black soybean. <a href="intro?id=xiang">Read more...</a></p>
</div>
<div class="top_dishes_box">
    <img src="../public/images/zhe.jpg" alt="image" />
   <h2>Zhe(Zhejiang cuisine)</h2>
 <p>Zhejiang cuisine derives from the native cooking styles of the Zhejiang region. The dishes are not greasy, having instead a fresh, soft flavor with a mellow fragrance. <a href="intro?id=zhe">Read more...</a></p>
</div>
        
        <div class="cleaner">&nbsp;</div>
    
    </div> 
    
    <div id="templatemo_content">
    	<span class="top"></span>
        <div class="cleaner" style="background: #fff;">&nbsp;</div> 	
    </div>


<div id="templatemo_footer">
    
    	<a href="/">Home</a> | <a href="/contact">Contact Us</a><br />
        Copyright © 2024 <a href="#"><strong>Tang Court</strong></a> 
        </div>

</div>
</body>
</html>