<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Palindrome Results!</title>
        <link rel="stylesheet" type="text/css" href="/static/site.css">
    </head>

    <body>
        {{{body}}}
    </body>
</html>